:root {
    --color-bg: rgb(47, 0, 90);
    --gr-1: radial-gradient(
      circle 929px at 0.6% 1.3%,
      rgb(10, 251, 130) 0%,
      rgba(248, 47, 47, 1) 82.6%
    );
    --gr-2: radial-gradient(
      circle 972.6px at 10% 20%,
      rgba(243, 0, 75, 1) 0%,
      rgba(255, 93, 75, 1) 90%
    );
  }
  
  body {
    margin: 0;
    height: 100vh;
    font-family: "Rubik", sans-serif;
    display: grid;
    place-items: center;
    background-color: var(--color-bg);
    color: #fff;
    overflow: hidden;
    user-select: none;
  }
  
  .center-con{
    position: relative;
  }
  
  .center-con::after,
  .center-con::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--gr-1);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .bubbles{
    position: absolute;
    bottom: -120px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 100%;
    justify-content: space-around;
  }
  .bubbles span{
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.1);
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;
  }
  @keyframes move {
    100%{
      transform: translateY(-100vh);
    }
  }
  .bubbles span.one{
    animation-delay: 2.2s;
    transform: scale(2.15)
  }
  .bubbles span.two{
    animation-delay: 3.5s;
    transform: scale(1.55)
  }
  .bubbles span.three{
    animation-delay: 0.2s;
    transform: scale(0.35)
  }
  .bubbles span.four{
    animation-delay: 6s;
    transform: scale(2.15)
  }
  .bubbles span.five{
    animation-delay: 7s;
    transform: scale(0.5)
  }
  .bubbles span.six{
    animation-delay: 4s;
    transform: scale(2.5)
  }
  .bubbles span.seven{
    animation-delay: 3;
    transform : scale(1.5);
  }
  .bubbles span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255, 255, 255, 0.15);
    animation: mirror 3s linear infinite;
  }
  @keyframes mirror {
    100%{
      transform: translateX(-450px);
    }
  }
  .bubbles span.one:before{
    animation-delay: 1.5s;
  }
  .bubbles span.two:before{
    animation-delay: 3.5s;
  }
  .bubbles span.three:before{
    animation-delay: 2.5s;
  }
  .bubbles span.four:before{
    animation-delay: 7.5s;
  }
  .bubbles span.five:before{
    animation-delay: 4.5s;
  }
  .bubbles span.six:before{
    animation-delay: 0.5s;
  }
  .bubbles span.seven:before{
    animation-delay: 6s;
  }


  
  .center-con::before{
    left: 100%;
    top: 100%;
    background-image: var(--gr-2);
  }
  
  .calc{
    position: relative;
    width: 18rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    z-index: 1;
  }
  
  .display{
    position: relative;
    height: 10rem;
    border-radius: 30px;
  }
  
  .screen {
    position: absolute;
    bottom: 0.5rem;
    width: 94%;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    text-align: right;
    border-radius: 30px;
  }
  
  .operators{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
    z-index: -1;
  }
  
  .buttons{
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 1.2em;
  }
  
  .buttons > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .buttons > div:active {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  sup{
    font-size: 0.8em;
    transform: translateY(-6px);
  }